{{ if .Site.Params.about.enable }}
{{ "<!-- Blogs Section Start -->" | safeHTML }}
<section id="blogs">
    <div class="container">
        <div class="row">
            <h3>BLOGS</h3>
            <div class="col-md-12">
                <ul>
                    {{ range first 5 (where .Site.RegularPages "Type" "post") }}
                    <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Blogs Section End -->" | safeHTML }}
{{ end }}