{{ if .Site.Params.about.enable }}
{{ "<!-- Blogs Section Start -->" | safeHTML }}
<section id="blogs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block wow">
                    <h2>Latest blogposts</h2>
                    <ul>
                        {{ range first 5 (where .Site.RegularPages "Type" "post") }}
                        <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
                        </li>
                        {{ end }}
                    </ul>
                    <div><a href="/blog">and more...</a></div>
                </div>    
            </div>
        </div>
    </div>
</section>
{{ "<!-- Blogs Section End -->" | safeHTML }}
{{ end }}